
<%#= link_to 'Show', [@task.project, @task] %> 
<%#= link_to 'Back', project_tasks_path(@task.project) %>
<%= link_to 'Back', @project, class: 'btn btn-outline-secondary btn-sm mb-3' %>
<div class="card">
  <div class="card-body">
    <h2 class='card-title mb-4'>
      <span>Editing Task</span>
    </h2>
    <%= render 'form' %>
  </div>
</div>

