<%= link_to 'Back', @project, class: 'btn btn-outline-secondary btn-sm mb-3' %>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">
      <span>Editing Project</span>
    </h2>
    <%= render 'users/projects/form', project: @project, mode: 'update', user_id: current_user.id  %>
</div>


